@import "tailwindcss";

/* src/index.css */

@import "tailwindcss";

@theme {
  --color-primary: #18181b;      /* zinc-900 */
  --color-secondary: #27272a;    /* zinc-800 */
  --color-surface: #09090b;      /* zinc-950 */

  --color-text-main: #f4f4f5;
  --color-text-muted: #a1a1aa;

  --color-discipline: #fef3c7;
  --color-discipline-text: #92400e;

  --color-success: #22c55e;
}

@layer utilities {
    .card {
        @apply rounded-3xl bg-zinc-900 border border-zinc-800 ;
    }
}